<main id="main_usuario" class="main">
  <div class="pagetitle">
    <h2>Cadastro de Usuário</h2>
  </div>

  <section>
    <form class="row g-3" [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">

      <!-- CEP -->

      <div class="col-md-4">
        <label class="form-label">CEP:</label>
        <input type="text" class="form-control" formControlName="cep" placeholder="00.000-000" mask="00.000-000"
          maxlength="10" />
        <div *ngIf="carregandoCep">Buscando endereço...</div>
        <div *ngIf="erroCep" class="text-danger">{{ erroCep }}</div>
        <div *ngIf="usuarioForm.get('cep')?.invalid && usuarioForm.get('cep')?.touched" class="text-danger">
          CEP inválido.
        </div>
      </div>

      <!-- Logradouro -->
      <div class="col-md-4">
        <label class="form-label">Logradouro:</label>
        <input class="form-control" formControlName="logradouro" />
      </div>

      <!-- Número -->
      <div class="col-md-2">
        <label class="form-label">Número:</label>
        <input class="form-control" formControlName="numero" />
      </div>     

      <!-- Bairro -->
      <div class="col-md-4">
        <label class="form-label">Bairro:</label>
        <input class="form-control" formControlName="bairro" />
      </div>

      <!-- Cidade -->
      <div class="col-md-4">
        <label class="form-label">Cidade:</label>
        <input class="form-control" formControlName="cidade" />
      </div>

      <!-- Estado -->
      <div class="col-md-4">
        <label class="form-label">Estado:</label>
        <input class="form-control" formControlName="estado" />
      </div>

      <hr class="mt-4 mb-2 w-100" />

      <!-- Usuário -->
      <div class="col-md-4">
        <label class="form-label">Usuário:</label>
        <input class="form-control" formControlName="usuario" />
        <div *ngIf="usuarioForm.get('usuario')?.invalid && usuarioForm.get('usuario')?.touched" class="text-danger">
          Usuário obrigatório.
        </div>
      </div>

      <!-- Login -->
      <div class="col-md-3">
        <label class="form-label">Login:</label>
        <input class="form-control" formControlName="login" autocomplete="off" />
        <div *ngIf="usuarioForm.get('login')?.invalid && usuarioForm.get('login')?.touched" class="text-danger">
          Login obrigatório (mín 4 caracteres).
        </div>
      </div>

      <!-- Senha -->
      <div class="col-md-3">
        <label class="form-label">Senha:</label>
        <input class="form-control" formControlName="senha" type="password" />
        <div *ngIf="usuarioForm.get('senha')?.invalid && usuarioForm.get('senha')?.touched" class="text-danger">
          Senha obrigatória (mín 6 caracteres).
        </div>
      </div>

       <!-- Perfil -->
      <div class="col-md-2">
        <label class="form-label">Perfil:</label>
        <select class="form-control" formControlName="perfil">
          <option value="" disabled selected>Selecione um perfil</option>
          <option *ngFor="let opcao of listaPerfis" [ngValue]="opcao.id">
            {{ opcao.value }}
          </option>
        </select>
        <div *ngIf="usuarioForm.get('perfil')?.touched && usuarioForm.get('perfil')?.invalid" class="text-danger">
          Perfil é obrigatório
        </div>
      </div>

      <!-- CPF -->
      <div class="col-md-4">
        <label class="form-label">CPF:</label>
        <input class="form-control" formControlName="cpf" placeholder="Só números, ex: 12345678901" maxlength="14"
          mask="000.000.000-00" />
        <div *ngIf="usuarioForm.get('cpf')?.invalid && usuarioForm.get('cpf')?.touched" class="text-danger">
          CPF inválido (deve conter 11 números).
        </div>
      </div>

      <!-- Telefone -->
      <div class="col-md-4">
        <label class="form-label">Telefone:</label>
        <input class="form-control" formControlName="telefone" maxlength="16" mask="(00) 0 0000 0000" type="tel" />
        <div *ngIf="usuarioForm.get('telefone')?.invalid && usuarioForm.get('telefone')?.touched" class="text-danger">
          Telefone obrigatório.
        </div>
      </div>

      <!-- Email -->
      <div class="col-md-4">
        <label class="form-label">Email:</label>
        <input class="form-control" formControlName="email" />
        <div *ngIf="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched" class="text-danger">
          Email obrigatório.
        </div>
      </div>

      <!-- Botão -->
      <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Salvar</button>
      </div>

    </form>
    <div>
      <h3 class="mt-4">Usuários Cadastrados</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Usuário</th>
            <th>Login</th>
            <th *ngIf="!mobile">Perfil</th>
            <th *ngIf="!mobile">CPF</th>
            <th *ngIf="!mobile">Telefone</th>
            <th *ngIf="!mobile">Email</th>
            <th class="text-center">Ação</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of listaUsuarios">
            <td>{{ usuario.usuario }}</td>
            <td>{{ usuario.login }}</td>
            <td>{{ getNomePerfil(usuario.perfil) }}</td>
            <td *ngIf="!mobile">{{ global.mascararTexto(usuario.cpf) }}</td>
            <td *ngIf="!mobile">{{ usuario.telefone }}</td>
            <td *ngIf="!mobile">{{ usuario.email }}</td>
            <td class="d-flex gap-1 justify-content-center">
              <button class="btn btn-danger btn-sm" (click)="removerUsuario(usuario)">
                <i class="fa-regular fa-trash-can"></i>
              </button>
              <button class="btn btn-secondary btn-sm" (click)="editarUsuario(usuario)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>