<div class="container-layout">
  <aside class="menu-lateral">
    <!-- Menu e navegação aqui -->
    <nav>
      <ul>
        <li>
          <a routerLink="/home">
            <i class="fas fa-home"></i>
            Home
          </a>
        </li>
        <li>
          <a routerLink="/usuario">
            <i class="fas fa-address-book"></i>
            Usuário
          </a>
        </li>
        <!-- Outros links -->
      </ul>
    </nav>
  </aside>

  <section class="conteudo-principal">
    <router-outlet></router-outlet>
  </section>
</div>